version: '3.8'

services:
  proxy:
    image: nginx:alpine
    restart: unless-stopped
    environment:
      PROXY_PORT: ${PROXY_PORT:-8080}
      BACKEND_PORT: ${BACKEND_PORT:-20080}
    expose:
      - "${PROXY_PORT:-8080}"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: >
      sh -c "echo \"events {} 
      http { 
        server { 
          listen ${PROXY_PORT}; 
          location / { 
            proxy_pass http://host.docker.internal:${BACKEND_PORT};
            proxy_set_header Host \$http_host;
            proxy_set_header X-Real-IP \$remote_addr;
            proxy_set_header X-Forwarded-For \$proxy_add_x_forwarded_for;
            proxy_buffering off;
            proxy_redirect off;
          } 
        } 
      }\" > /tmp/nginx.conf 
      && nginx -c /tmp/nginx.conf -g 'daemon off;'"
